@charset "UTF-8";

:root {
  --cor1: #1a1a1a;
  --cor2: #333333;
  --cor3: #262626;
  --cor4: #0079d6;
  --cor5: #f3f3f3;

  --font: "Open Sans", sans-serif;
}

a,
h1,
p {
  color: var(--cor5);
}

body {
  background-color: var(--cor2);
}

header {
  background-color: var(--cor1);
}

#bug {
  color: var(--cor4);
}

.opt-desativada {
  background-color: var(--cor4);
}

@keyframes animationmarcker {
  100% {
    width: 100%;
    background-color: var(--cor4);
  }
}

.content-arrow > i {
  color: var(--cor5);
}

@keyframes animaçãoatualmente {
  0% {
    color: var(--cor4);
  }
  100% {
    color: darkgray;
    opacity: 1;
  }
}

.container-foto-sobre {
  background-color: var(--cor4);
  border: 2px solid var(--cor1);
}

.mousehoveraviso {
  color: var(--cor4);
}

strong {
  color: var(--cor4);
}

.skills {
  background-color: var(--cor3);
}

.background {
  background-color: var(--cor3);
}

#projetos {
  border-right: 4px solid var(--cor4);
}

.card {
  border: 2px solid var(--cor1);
  box-shadow: 0px 0px 20px 3px var(--cor1);
}

.tecnologias {
  background-color: var(--cor1);
  border-top: 3px solid var(--cor3);
}

.div-bg {
  background-color: var(--cor5);
}

.bg-desenvolvimento {
  background-color: var(--cor1);
}

.titulo-site h2 {
  -webkit-text-stroke-color: var(--cor4);
}

.bg-desenvolvimento {
  background-color: var(--cor3);
}

.tracofinalleft {
  background-color: var(--cor4);
}

.tracofinaldown {
  background-image: linear-gradient(to left, var(--cor4), #fff);
}

.bolinhafinal {
  border: 5px solid var(--cor4);
  background-color: var(--cor5);
}

.container-timeline svg {
  border: 2px solid var(--cor5);
  background-color: var(--cor2);
}

#estudos::before {
  border: 5px solid var(--cor4);
  background-color: var(--cor5);
}

#projetos::before {
  border: 5px solid var(--cor4);
  background-color: var(--cor5);
}

.traco-top-contato {
  background-color: var(--cor5);
}

.bolinha-top-contato {
  background-color: var(--cor4);
  border: 5px solid var(--cor5);
}

.card-contato {
  background-color: var(--cor3);
}

.titulo-card-contato {
  background-color: var(--cor4);
}

.titulo-card-contato h3 {
  color: var(--cor5);
}

.redes-container {
  background-color: var(--cor5);
}

.nome-contato {
  color: var(--cor5);
}

.btn-curriculo {
  background-color: var(--cor4);
}

.telefone {
  color: var(--cor5);
}

footer {
  background-color: var(--cor4);
}

footer h4 {
  color: var(--cor5);
}
