@charset "UTF-8";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

.particles-all {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100vh;
  z-index: 29;
}

/*Header*/

header {
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 99999999;
  padding: 15px;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.296);
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container-logo {
  display: flex;
}

.Nome-logo {
  font-size: 18px;
  align-self: center;
}

#bug {
  font-size: 20px;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
}

.menu-ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  height: 0px;
  top: 100%;
  padding-inline: 15px;
  left: 0%;
  background-color: var(--cor1);
  pointer-events: none;
  overflow: hidden;
  transition: 1s ease-in-out;
}

.menu-ul-act {
  height: 160px;
  pointer-events: all;
  transition: 1s ease-out;
}

.opt {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  opacity: 0;
  list-style: none;
  position: relative;
  transform: translateY(30px);
  transition: opacity 0.5s, transform 0.5s, padding-left 1s;
}

.opt-animacao {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 0.5s, transform 0.5s;
}

.opt:nth-child(1) {
  transition-delay: 0.8s;
}

.opt:nth-child(2) {
  transition-delay: 0.6s;
}

.opt:nth-child(3) {
  transition-delay: 0.4s;
}
.opt:nth-child(4) {
  transition-delay: 0.2s;
}

.opt:nth-child(5) {
  transition-delay: 0.1s;
}

.opt-animacao:nth-child(1) {
  transition-delay: 0.2s;
}

.opt-animacao:nth-child(2) {
  transition-delay: 0.4s;
}

.opt-animacao:nth-child(3) {
  transition-delay: 0.6s;
}

.opt-animacao:nth-child(4) {
  transition-delay: 0.8s;
}

.opt-animacao:nth-child(5) {
  transition-delay: 1s;
}

.menu > ul > li > a {
  font-size: 16px;
  text-decoration: none;
}

.opt-desativada {
  opacity: 0;
  position: relative;
  display: flex;
  background-color: var(--cor4);
  width: 0px;
  height: 0px;
  border-radius: 50%;
  transition: 1s all;
}

.opt-ativada {
  opacity: 1;
  width: 15px;
  height: 15px;
  transition: 1s all;
}

#btn-menu {
  width: 40px;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.linha {
  width: 80%;
  height: 2px;
  background-color: var(--cor4);
  display: block;
  margin: 6px auto;
  transform-origin: center;
  transition: 0.2s;
}

button.ativar .linha:nth-child(1) {
  transform: translateY(5px) rotate(-45deg);
  background-color: red;
}

button.ativar .linha:nth-child(2) {
  width: 0;
}

button.ativar .linha:nth-child(3) {
  background-color: red;
  transform: translateY(-11px) rotate(45deg);
}

/*Header*/

/*Main*/

main {
  margin: auto;
  width: 100%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container-content {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  padding: 0px;
}

.content-arrow {
  position: absolute;
  top: 90%;
  transform: translate(0%, -90%);
}

.content-arrow > i {
  font-size: 50px;
  animation: arrow 0.3s steps(60) 1;
}

@keyframes arrow {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes arrowrevers {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}

.container {
  display: flex;
  width: 250px;
  justify-content: start;
  align-items: center;
}

.container .estatico {
  color: #ffff;
  font-size: 20px;
  font-weight: 400;
  animation: text-focus-in 1s 1;
  text-wrap: nowrap;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.container .dinamico {
  margin-left: 5px;
  line-height: 20px;
  height: 20px;
}

.dinamico li {
  color: #0079d6;
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  left: 0;
  position: relative;
  top: 0;
  animation: slide 1s steps(1) 1;
  animation-delay: 4.5s;
}

.typing {
  display: inline-block;
  content: "";
  z-index: 9;
  position: absolute !important;
  width: 1000px;
  height: 80%;
  left: 0;
  border-left: 2px solid #0079d6;
  animation: typing 1.5s 1s steps(30) 1;
  animation-fill-mode: forwards;
  background: #333333;
}

.dinamico li span {
  position: relative;
}

#textoanimado {
  display: inline-block;
  text-wrap: nowrap;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 8px 0 -8px;
  }
}

@keyframes typingrevers {
  100% {
    left: 0%;
    margin: 0 8px 0 -8px;
  }
}

@keyframes piscando {
  0% {
    margin-left: 5px;
    border-left-color: transparent;
  }

  10% {
    border-left-color: #0079d6;
  }

  20% {
    border-left-color: transparent;
  }

  30% {
    border-left-color: #0079d6;
  }

  40% {
    border-left-color: transparent;
  }

  50% {
    border-left-color: #0079d6;
  }

  60% {
    border-left-color: transparent;
  }

  70% {
    border-left-color: #0079d6;
  }

  80% {
    border-left-color: transparent;
  }

  90% {
    border-left-color: #0079d6;
  }
  100% {
    margin-left: 5px;
    border-left-color: transparent;
  }
}

/*Sections*/
.sections {
  width: 85%;
  padding-bottom: 40px;
}

/*Sections*/

/*Sobre*/
#sobre {
  opacity: 0;
}

@keyframes CarregamentoSection {
  100% {
    opacity: 1;
  }
}

@keyframes bolinhaanimação {
  100% {
    width: 12px;
    height: 12px;
  }
}

.container-sobre {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.container-text-sobre {
  display: flex;
  flex-direction: column;
  background-color: var(--cor1);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.354);
}

.container-titulo-sobre {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#sobre-titulo {
  opacity: 0;
  position: relative;
  margin-bottom: 15px;
  overflow: hidden;
  white-space: nowrap;
}

.tituloLetra {
  display: inline-block;
  transform: translateY(100%);
  background: linear-gradient(180deg, #0091ff, #0079d6);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: animaçãoLetraTitulo 0.5s forwards;
  font-size: 25px;
}

@keyframes animaçãoLetraTitulo {
  to {
    transform: translateY(0);
  }
}

#sobre-descrição {
  text-align: justify;
  margin-bottom: 10px;
  opacity: 0;
}

.paragrafo {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 500;
  margin: auto;
}

.palavra {
  white-space: nowrap;
}

.letra {
  display: inline-block;
  transform: translate(0%, -100%);
  opacity: 0;
  animation: appearUp 0.5s forwards;
}

@keyframes appearUp {
  to {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

#atualmente {
  opacity: 0;
  font-size: 13px;
  color: darkgray;
  font-weight: 700;
  margin-top: 10px;
}

.container-foto-sobre {
  opacity: 0;
  position: relative;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

#foto {
  opacity: 0;
  z-index: 9;
  position: relative;
  height: 300px;
  animation-fill-mode: forwards;
  box-shadow: 0px 0px 5px 4px #0079d659;
}

@keyframes animaçãoFoto {
  0% {
    transform: translate(10%, 10%);
  }

  100% {
    transform: translate(0%, 0%);
    opacity: 1;
  }
}

@keyframes animaçãoContorno {
  0% {
    transform: translate(10%, 10%);
  }

  100% {
    transform: translate(-15px, -15px);
    opacity: 1;
  }
}

/*Sobre*/

/*Estudos*/

#estudos {
  opacity: 0;
  position: relative;
  padding-bottom: 30px;
}

.container-titulo-estudos {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-all-content {
  margin-top: 25px;
}

.container-skills {
  display: grid;
  grid-template-areas:
    "1 2 3"
    "4 5 6";
  place-items: center;
}

.skills {
  display: flex;
  opacity: 0;
  overflow: hidden !important;
  z-index: 99;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85px;
  height: 85px;
  padding: 1px;
  box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.46);
  border-radius: 15px;
  transition: all 0.4s;
  cursor: pointer;
  margin-bottom: 20px;
}

.imgsvg {
  width: 45px;
  z-index: 99;
}

#phpimg {
  width: 60px;
}

#sassimg {
  width: 60px;
}

#sqlimg {
  width: 60px;
}

.desc-skill {
  width: 100%;
  text-align: justify;
  background-color: var(--cor1);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 4px rgba(0, 0, 0, 0.354);
}

.desc {
  opacity: 0;
  z-index: 99;
  font-size: 14px;
  font-weight: 600;
  margin-top: 10px;
  text-align: left;
  transition: 1s;
}

strong.html {
  color: #dd4b25;
}

strong.css {
  color: #254bdd;
}

strong.js {
  color: #efd81d;
}

strong.jquery {
  color: #14748a;
}

strong.php {
  color: #818ebc;
}

strong.sql {
  color: #087dd7;
}

strong.sass {
  color: #cf6c9c;
}

strong.bootstrap {
  color: #8f1bfc;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 9;
  border-radius: 15px;
}

:root {
  --first-color: #0047ab;
  --second-color: #008080;
  --size: 80px;
  --speed: 4s;
}

.before {
  background-color: transparent;
  transition: all 1s;
}

.beforeactive {
  content: "";
  position: absolute;
  width: var(--size);
  height: 129%;
  background: linear-gradient(var(--first-color), var(--second-color));
  animation: animate var(--speed) linear infinite;
  transition: all 1s;
}

@-webkit-keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-left {
  0% {
    -webkit-transform: translateX(-800px) rotate(-540deg);
    transform: translateX(-800px) rotate(-540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@-webkit-keyframes text-focus-inB {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-inB {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*Estudos*/

/*Projetos*/

#projetos {
  position: relative;
  width: 100%;
  padding-bottom: 40px;
  opacity: 0;
  transition: 1s all;
  border-right: 0px;
  overflow-x: hidden;
}

.container-titulo-projetos {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.titulo-projeto {
  opacity: 0;
}

.container-conteudo-projetos {
  width: 100%;
  display: flex;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-block: 20px;
  gap: 30px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 310px;
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  opacity: 0;
}

.card:hover {
  box-shadow: 0px 0px 20px 10px rgba(255, 255, 255, 0.189);
}

.links {
  display: flex;
  position: absolute;
  z-index: 10;
  padding: 10px 20px;
  margin: auto;
  width: 100%;
  justify-content: space-between;
}

.conteudo-site {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 75%;
  overflow: hidden;
  transition: 1s all;
}

.conteudo-site-dst {
  height: 20%;
}

.titulo-site {
  position: absolute;
  z-index: 10;
  top: 95%;
  transform: translate(0%, -95%);
}

.titulo-site h2 {
  font-size: 25px;
  font-weight: 600;
  color: var(--cor4);
}

.tecnologias {
  position: relative;
  padding: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 25%;
  gap: 20px;
  transition: 1s all;
}

.tecnologias-atv {
  height: 80%;
  z-index: 10;
}

.tec {
  width: 25px;
  opacity: 0;
  transform: translate(-100%, 0%);
  animation: nenhuma 1s forwards;
}

.js {
  width: 28px;
}

.sass {
  width: 35px;
}

.php {
  width: 35px;
}

.bt {
  width: 32px;
}

.bg-site {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
}

.ft-site {
  position: relative;
  z-index: 9;
  width: 50%;
}

.snap {
  width: 75%;
}

.div-bg {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
}

.icon-link {
  width: 35px;
}

.site-em-desenvolvimento {
  font-size: 20px !important;
}

.container-texto-projetos {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.texto-projetos {
  width: 75%;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  opacity: 0;
  font-size: 25px;
  align-self: center;
}

.texto-projetos .letraTextoProjeto {
  color: darkgray;
  display: inline-block;
  transform: translate(0%, -100%);
  opacity: 0;
  animation: appearUp 0.5s forwards;
  font-size: 16px;
  font-weight: 500;
}

.tec-desativada {
  transition: 1s all;
  animation: slide-out-left 5s forwards !important;
}

.descricao-tec {
  position: absolute;
  width: calc(100% - 30px);
  top: 5%;
  transform: translate(0%, 0%);
  animation: slide-out-left 2s forwards;
}

.descricao-tecatv {
  display: inline-block;
  animation: slide-in-left 1s forwards;
}

.descricao-tec p {
  text-wrap: balance;
  color: white;
  font-weight: 600;
}

@keyframes animaçãotec {
  100% {
    opacity: 1;
    transform: translate(0%, 0%);
  }
}

@-webkit-keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes puff-in-center {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-left {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
}

/*Afazeres*/
.tracofinalleft {
  display: inline-block;
  position: absolute;
  width: 6px;
  height: 0px;
  top: 60px;
  left: 31px;
  transform: translate(-50%, 0%);
  background-color: var(--cor5);
}

.tracofinaldown {
  display: inline-block;
  position: absolute;
  margin-left: -3px;
  width: 0px;
  height: 5px;
  right: 0%;
  top: 60px;
}

.bolinhafinal {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 63px;
  transform: translate(50%, -50%);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  z-index: 99;
  opacity: 0;
}

#afazeres {
  position: relative;
  padding-bottom: 70px !important;
  opacity: 0;
}

@keyframes movetracodown {
  100% {
    width: calc(100% - 31px);
    opacity: 1;
  }
}

@keyframes movetracoleft {
  100% {
    height: 80px;
    z-index: -2;
    opacity: 1;
  }
}

@keyframes animacaobolinha {
  100% {
    opacity: 1;
  }
}

.container-all-afazeres {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.container-titulo-afazeres {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  overflow: hidden;
}

.titulo-afazeres {
  opacity: 0;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 50px auto;
}

.container-timeline {
  width: 100%;
  padding-left: 80px;
  padding-right: 25px;
  position: relative;
  margin-bottom: 20px;
  opacity: 0;
}

@keyframes movedown {
  0% {
    transform: translateY(-80px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.text-box {
  padding: 20px 30px;
  background-color: #ffffff;
  position: relative;
  border-radius: 6px;
  font-size: 13px;
}

.left-container {
  left: 0%;
}

.right-container {
  left: 0;
}

.container-timeline svg {
  width: 40px;
  height: auto;
  left: 10px;
  position: absolute;
  border-radius: 50%;
  top: 25px;
  z-index: 10;
}

.trilha {
  content: "";
  position: absolute;
  width: 6px;
  height: 0%;
  background-color: #fff;
  top: 0;
  left: 31px;
  margin-left: -3px;
  z-index: -1;
}
@keyframes moveline {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

.text-box h2 {
  font-weight: 600;
}

.text-box p {
  color: black;
  font-weight: 500;
  line-height: 20px;
}

.text-box small {
  display: inline-block;
  margin-bottom: 10px;
  color: darkgray;
}

.left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fff;
  left: -15px;
}

.right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fff;
  left: -15px;
}

/*Afazeres*/

/*Projetos*/

/**Contato**/

.traco-top-contato {
  display: inline-block;
  opacity: 0;
  width: 6px;
  height: 0px;
  position: absolute;
  top: -120px;
  left: 28px;
  transform: translate(0%, 0%);
}

.bolinha-top-contato {
  display: inline-block;
  position: absolute;
  opacity: 0;
  left: 28px;
  top: 0px;
  width: 0px;
  height: 0px;
  transform: translate(-39%, 0%);
  border-radius: 50%;
}
@keyframes tracoAnimacao {
  100% {
    opacity: 1;
    height: 120px;
  }
}

@keyframes BolinhaAnimacao {
  100% {
    opacity: 1;
    width: 25px;
    height: 25px;
  }
}

#contato {
  width: 85%;
  padding: 0px;
  padding-bottom: 60px;
  position: relative;
}

.container-titulo-contato {
  width: 100%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.titulo-contato {
  opacity: 0;
  background: linear-gradient(180deg, #0091ff, #0079d6);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container-all-contato {
  max-width: 950px;
  padding: 5px;
  margin: 25px auto;
  border-radius: 15px;
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.403);
  opacity: 0;
  transition: 1s all;
}

.card-contato {
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.titulo-card-contato {
  opacity: 0;
  max-width: 180px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
  transform: translate(-300%, 0px);
}

.titulo-card-contato h3 {
  font-size: 20px;
  font-weight: 600;
}

.container-contato-svg {
  display: flex;
  justify-content: center;
}
.container-contato-svg svg {
  width: 40px;
  height: 40px;
}

.container-redes-conteudo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  margin: 15px 0px;
  border-radius: 15px;
  justify-content: start;
  gap: 25px;
}

.redes-container {
  opacity: 0;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
  transform: translate(0%, 100px);
}

.container-nome-contato {
  display: flex;
  width: 70px;
}

.nome-contato {
  align-self: center;
}

.container-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.container-btn p {
  color: black;
  font-size: 15px;
}

.btn-contato {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  border-radius: 10px;
  border: 0px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s all;
}

.btn-contato p {
  font-size: 15px;
  font-weight: 600;
  color: white!important;
}

.btn-contato:hover {
  transform: scale(1.2);
}

.btn-linkedin {
  background-color: #0077b7;
}

.btn-github {
  background-color: #6f6ef1;
}

.btn-zap {
  background-color: #22974f;
}

.btn-localidade {
  background-color: #e1032d;
}

.btn-localidade a {
  font-size: 13px;
}

.container-telefone {
  width: 100px;
  display: flex;
}

.telefone {
  align-self: center;
  color: #54e764;
  font-size: 16px;
  text-wrap: nowrap;
}

@keyframes tituloCardAnimacao {
  0% {
  }

  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes redesAnimacao {
  100% {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

/**Contato**/
/*Main*/

/*Footer*/

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

footer h4 {
  font-size: 15px;
}

footer h4 strong {
  color: #f5d166;
}

/*Footer*/
