
.skills:hover{
    border: 2px solid var(--cor5);
}

.conteiner-titulo-skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.conteiner-number{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    background-color: var(--cor2);
    border: 2px solid var(--cor4);
    border-radius: 50%;
}


.number-top{
    font-size: 50px;
    color: var(--cor5);
}

.traço-meio-skill{
    position: relative;
    width: 50%;
    height: 8px;
    background-color: transparent;
}

.conteiner-coranimada{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.coranimada{
    display: inline-block;
    width: 100%;
    height: 8px;
}

.cor1{
    z-index: 99;
    animation: coranimada 5s steps(1000) infinite;
}

.cor2{
    position: absolute;
    top: -100%;
    transform: translate(0%, 100%);
}

@keyframes coranimada {
    0%{
        transform: translate(-100%, 0px);
    }
    
    100%{
        transform: translate(200%, 0px);
    }
}



.traço-meio-skill::before{
    content: '';
    position: absolute;
    z-index: 999;
    left: 100%;
    top: 0%;
    transform: translate(-50%, -35%);
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 8px solid;
    background-color: var(--cor5);
}

.traço-meio-skill::after{
    content: '';
    position: absolute;
    z-index: 999;
    right: 100%;
    top: 0%;
    transform: translate(50%, -35%);
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 8px solid;
    background-color: var(--cor5);
}



.titulo-skill{
    font-size: 30px;
    color: #E54C21;
    text-transform: uppercase;
}

.conteiner-text-skills{
    width: 100%;
}

.paragrafo-skill{
    line-height: 20px;
    font-size: 15px;
    font-weight: 600;
    text-align: justify;
}

/*HTML*/

#htmlspan{
    background-image: linear-gradient(to right,#90280b, #E54C21);
}


#htmltraço::after{
    border-color:#90280b;
}

#htmltraço::before{
    border-color: #E54C21;
}

/*HTML*/


/*CSS*/


#cssspan{
    background-image: linear-gradient(to right,#0f2b8f, #214CE5);
}

#csstitle{
    color: #214CE5;
}

#csstraço::after{

    border-color:#0f2b8f;
}

#csstraço::before{
    border-color: #214CE5;
}



/*CSS*/


/*JAVASCRIPT*/



#javascriptspan{
    background-image: linear-gradient(to right,#87791f, #F7DD3D);
}

#javascripttitle{
    color: #F7DD3D;
}

#javascripttraço::after{

    border-color:#87791f;
}

#javascripttraço::before{
    border-color: #c2ae30;
}



/*JAVASCRIPT*/

/*JQUERY*/

#jqueryspan{
    background-image: linear-gradient(to right,#172C45 ,#3a6caa);
}

#jquerytitle{
    color: #3a6caa;
}

#jquerytraço{
    width: 40%!important;
}

#jquerytraço::after{

    border-color:#172C45;
}

#jquerytraço::before{
    border-color: #3a6caa;
}

/*JQUERY*/

